# PNPM Configuration
enable-pre-post-scripts=true
auto-install-peers=true
only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=core-js
only-built-dependencies[]=esbuild
only-built-dependencies[]=prisma
only-built-dependencies[]=unrs-resolver
